body {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;

    background-color: var(--background-body);

    /* Light mode */
    --cgbn-red: #cd1a11;
    --cgbn-red-hover-dark: #85130c;
    --cgbn-red-hover-light: #f0a8a4;
    --hamburger-hover: #AAAAAA;
    --text: #FFFFFF;
    --background-body: #FFFFFF;
}

body {
    --cgbn-red: #cd1a11;
    --cgbn-red-hover-dark: #85130c;
    --cgbn-red-hover-light: #f0a8a4;
    --hamburger-hover: #AAAAAA;
    --text: #FFFFFF;
    --background-body: #FFFFFF;
}

html,body{
    margin:0;
    }

.dark-mode {
    --cgbn-red: #cd1a11;
    --cgbn-red-hover-dark: #85130c;
    --cgbn-red-hover-light: #f0a8a4;
    --hamburger-hover: #AAAAAA;
    --text: #FFFFFF;
    --background-body: #FFFFFF;
}

.main-container {
    display: flex;
    flex-flow: column;
    height: 100vh;
    margin: 10px;
}

.cgbn-logo {
       width: 5rem;
      height: auto;
}

.button-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    flex-grow: 1;
}

@media (min-width: 500px){
    .button-section {
        flex-flow: row;
    }
}

.button-class {
    background-color: var(--cgbn-red);
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text);
    border: none;
    margin: 10px;
    height: clamp(40px, 30px + 5vh, 80px);
    width: clamp(100px, 100px + 20vw, 250px);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: all;
}

.button-class:hover, .button-class:active {
    background-color: var(--cgbn-red-hover-light);
    transform: scale(1.1);
}

.header-class {
    display: flex;
}

.hamburger{
    border: none;
    background: none;
    border-radius: 10px;
    width: 48px;
    transition-duration: 0.2s;
    transition-property: all;
    cursor: pointer;
    z-index: 20;
}

.hamburger:hover {
    background-color: var(--hamburger-hover);
}

.hamburger.is-active:hover {
    background-color: var(--cgbn-red-hover-dark);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.hamburger-menu-container {
    overflow: hidden;
    position: relative;
    z-index: 10;
    background-color: var(--cgbn-red);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 100vw;
    transition: 0.35s;
    transition-property: all;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.hamburger-menu-container.is-active {
    left: 0vw;
}

.hamburger-menu-container, a {
    color: var(--text);
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
}

.hamburger-spacer {
    height: 100%;
}

.hamburger-menu-container-container {
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

.theme-button {
    background: none;
    border: none;
    margin-bottom: 5px;
}
