body{
  margin: 100px;
  padding: 0px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #F1F1F1;
}

.button {
  background-color: #cd1a11; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 250px;
  height: 120px;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
  align
}

  .button:hover, .button:focus, .button:active{
  background-color: #f0a8a4;
  transform: scale(1.1);

}
