body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw; 
  justify-content: center;
  align-items: center;
  display: flex;
}

.header {
  position: absolute;
  top: 15px;
  left: 5px;
  /* background-color: #adadad; */
}

.cgbn-logo {
  margin-left: 20px;
  width: 20px;
  height: auto;
}

.button {
  flex-wrap: wrap;
  background-color: #cd1a11; /* white */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 250px;
  height: 120px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform, color, background-color;
  transition-property: box-shadow, transform, color, background-color;
  margin: 15px;
}

  .button:hover, .button:focus, .button:active{
  background-color: #f0a8a4;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
