.button {
  background-color: #4CAF50; /* Red */
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100px;
}