body{
  margin: 100px;
  padding: 0px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button {
  background-color: #cd1a11; /* white */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  width: 250px;
  height: 120px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform, color, background-color;
  transition-property: box-shadow, transform, color, background-color;
  margin: 15px;
  align
}

  .button:hover, .button:focus, .button:active{
  background-color: #f0a8a4;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
